* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 17px;
    text-rendering: optimizeLegibility;
    min-width: 480px;
}

/*.clearfix {*/
/*zoom: 1*/
/*}*/

/*.clearfix:after {*/
/*content: '.';*/
/*clear: both;*/
/*display: block;*/
/*height: 0;*/
/*visibility: hidden;*/
/*}*/

/*-------------------------------------------*/
/*Reusable components*/
/*-------------------------------------------*/

.row {
    max-width: 1140px;
    /*margin: 30px auto;*/
}

/*----------------Botton---------------------------*/
.btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited {
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: #fff;
    /*margin-right: 15px;*/
}

.btn:hover,
.btn:active {
    background-color: #cf6d17;
}

.btn-full:hover,
.btn-full:active {
    border: 1px solid #cf6d17;
}

/*----------------Headings---------------------------*/
h1,
h2,
h3 {
    overflow: auto;
}

h1 {
    font-weight: 400;
    margin-bottom: 20px;
    color: #000;
    font-size: 300%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2 {
    font-weight: 700;
    font-size: 180%;
    word-spacing: 2px;
    margin-bottom: 2%;
    letter-spacing: 1px;
}

h3 {
    font-weight: 300;
    font-size: 95%;
    margin-bottom: 15px;
}

/*h2:after {*/
/*font-weight: 300;*/
/*display: block;*/
/*height: 2px;*/
/*background-color: #e67e22;*/
/*content: "";*/
/*width: 100px;*/
/*!*margin: 0 auto;*!*/
/*!*margin-top: 30px;*!*/
/*}*/

/*-----------------Header--------------------------*/
header {
    height: 100px;
    background-color: #FDCA45;



}
body {
    width: 100%
}
.deliLogo-text-box {
    text-align: center;
    position: absolute;
    overflow: auto;
    width: 97%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.restaurant_Logo{
    width: 100%;
    display: block;
}

.openSign {
    width: 75%;
    height: auto;
    display: block;
}

.compantInfo {
    font-family: 'Open Sans';
    list-style:none;
    background-color: #222434;
    color: white;
    padding-left: 5%;
    padding-top: 2%;

    width: 100%;
    display: inline-block;
}
.col a:link,
.col a:visited{
    color: white;
    text-decoration: none;
    font-size: 76%;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.2s;
}

.col a:hover,
.col a:active{
    border-bottom: 2px solid #e67e22;
}

.main-input-box {
    padding-bottom: 20px;
}

.mainSearchBox {
    width: 40%;
}

.placeholder {
    font-size: 50px;
}

.btn {
    text-align: center;
    color: #000;
}

.logo {
    width: 100px;
    height: 60px;
    right: 20px;
    top:8px;
    position:absolute;
}

.deliWord {
    left: 20px;
    position:absolute;
    font-family: 'Alegreya';
    font-weight: 400;
    font-size: 310%;
    color: #4BB47C;
}
.placeholder {
    font-size: 10%;
}

/*-----For the restaurant logo in menu page-----*/
.restaurant_Logo {
    width: 100%;
    height: auto;
    overflow: hidden;
    display: block;
}
.openSign {
    padding-left: 10%;
    display: block;
    width: 55%;
    height: auto;
}

/*-----For the itemlist in menu page-----*/
.restaurant_menu {
    width: 70%;
    float: left;
}
.section-MenuCategoriesList {
    position: relative;

}
.restaurantDetail{
    overflow: hidden;
    display: block;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: inline-block;

}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #f9f9f9;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #FDCA45;
    color: #4BB47C;
    padding: 16px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    float:right;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.section-menuimage img {
    width: 200px;
    height: auto;
}
.section-menuimage p {
    text-align: center;
}

.orderInfo {
    margin-top: 30px;
    height:780px;
    border-left: 3px solid #c0c0c0;
    width: 30%;
    float: right;
}

.orderInfoword{
    text-align: center;
    /*border-bottom: 1px solid #000000;*/
}
.orderSummary {
    margin-left: 15px;
    position: relative;
    z-index : 5;
}


.orderSummary:after {
    margin-top: 6px;
    content : "";
    position: absolute;
    left    : 0;
    bottom  : -3px;
    height  : 1px;
    width   : 80%;  /* or 100px */
    border-bottom: 2px solid #c0c0c0;
}

.orderPriceSummary {
    margin-left: 15px;
    margin-right: 20%;

}

.subtotalprice,
.taxAmount,
.totalPrice{
    float: right;
    /*text-align: right;*/
}
.totalAmount {
    font-size: 140%;
    font-weight: 600;
}
.totalPrice {
    font-size: 140%;
    font-weight: 600;
}

.checkbtn {
    text-align: center;
}
.checkbtn button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

/*this is for checkout page*/
.checkoutpage {
    /*margin: 5% 10%;*/
    width: 60%;
    float: left;
}
input {
    margin-bottom: 5px;
    /*border-radius: 5%;*/
    /*height: 25px;*/
}

.customerinfo {
    margin-bottom: 4%;


}

.scheduleTime {
    margin-bottom: 4%;

}

.paymentMethod img {
    display: block;
    width: 30%;
    height: auto;
}
.paymentMethod input{
    vertical-align: middle;
}
.coupon button {
    background-color: #e67e22;
    color: white;
}

.orderSummar_Checkout {
    width: 40%;
    float: right;
    border-left: 3px solid #c0c0c0;
}

